<div *ngIf = "!(authService.user | async)">
    <img mat-card-image class = "loading" src="./assets/images/loading.gif" alt="loading gif">
</div>

<div *ngIf = "authService.user | async">
  <mat-card class="example-card">
    <mat-card-content>
      <!-- <h1 *ngIf = "name == ''">Welcome {{ name }}!</h1>  
      <h1 *ngIf = "user != null">Welcom {{ user.displayName }}!</h1> -->

      
      <div *ngIf = "authService.user | async">
          <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
      </div>

      <p>This is the welcome page :)</p>
      <img mat-card-image src="./assets/images/hello.gif" alt="hello pinguin">

      <mat-form-field class="example-container">
        <mat-select placeholder="Status to Filter" [(value)]="ifStatus" (selectionChange)="toFilter()">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let status of taskStatus" [value]="status">
            <span *ngIf = "status">Done</span>
            <span *ngIf = "!status">Not Done</span>
          </mat-option>
        </mat-select>
      </mat-form-field> 
      <mat-card-content>
          <br>
          <mat-card-subtitle class="sub2">
          Your current todo task :
          </mat-card-subtitle>
          <todo class="checkbox" *ngFor = "let todo of todos"
                  [data] = "todo"
                  (myButtonClicked) = "showText($event)">
          </todo>
          <div *ngIf = "todos.length == 0 " class="text"  >
              {{todoTextFromTodo}}
          </div> 
      </mat-card-content>

      <mat-card-actions>
        <form class="example-form" (ngSubmit) = "addTodo()">
          <mat-form-field class="example-full-width">
            <input [(ngModel)] = "text" name = "text" matInput placeholder="Add todo item" value="" >
          </mat-form-field>
          <div>
              <input type = "Submit" value = "Add todo">
          </div>      
        </form>  
      </mat-card-actions>
     
      <button mat-raised-button
              (click)="onLogout()">
              <span class="fas fa-sign-out-alt"></span>
              Logout
      </button>
    </mat-card-content>
  </mat-card>
</div>



