<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <mat-card class="example-card">
    <mat-card-header>
      <h2>Register</h2>
    </mat-card-header>
    <mat-card-content>
      <p>Register and start enjoying our app!</p>
    </mat-card-content>
    
    <div class = "top">
      <div class="left-div">
        <p>Sign up with:</p>
          <button mat-raised-button class="btn-social btn-facebook" (click) = "onLoginFacebook()">
              <span class="fa fa-facebook"></span>             
                &nbsp; Facebook
          </button> 
          <br><br>
          <button mat-raised-button class="btn-social btn-google" (click) = "onLoginGoogle()">
            <span class="fa fa-google"></span> 
              &nbsp; Google
          </button>
      </div> 
      
      <img mat-card-image class = "dancing" src="./assets/images/dancing.gif" alt="loading gif">
    </div> 

    <mat-card-actions>  
      <p>Or create a new user:</p>
      <form class="example-form" name="myForm">   
        <mat-form-field class="example-full-width">
          <input  [(ngModel)] = "name" 
                    name = "name" 
                    matInput placeholder="First Name" required>

        </mat-form-field>
        <div *ngIf = "error == 'auth/invalid-name' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "name == null" style = "color: red">{{ required }}</div>
          
        <mat-form-field class="example-full-width">
          <input  [(ngModel)] = "email" 
                  name = "email" 
                  matInput placeholder="Email" required>
        </mat-form-field>
        <div *ngIf = "error == 'auth/invalid-email' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "error == 'auth/email-already-in-use' && flag" style = "color: red">{{ output }}</div>
        <div *ngIf = "email == null" style = "color: red">{{ required }}</div>

        <mat-form-field class="example-full-width">
          <input  type = "password"
                  [(ngModel)] = "password" 
                  name = "password" 
                  matInput placeholder="Password" required>
          </mat-form-field>
          <div *ngIf = "error == 'auth/weak-password' && flag" style = "color: red">{{ output }}</div>
          <div *ngIf = "password == null" style = "color: red">{{ required }}</div>
          <div *ngIf = "valid == false" style = "color: red">{{ validation }}</div>
          
          <button mat-raised-button 
                  (click)="register()">Register
          </button>
   
      </form>
    </mat-card-actions>
  </mat-card>
</body>